<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock state</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>

<div style="width: 600px; height: 600px">
<canvas id="txCountChart" width="600" height="600"></canvas>
</div>
<script th:inline="javascript">
  var poductColors = ["red", "blue", "green", "magenta", "cyan", "purple", "gray", "darkred", "orange"]
  var shopId = [[${shopId}]]

  var ctx = document.getElementById('txCountChart').getContext('2d');

  var labels = [[${stockLabels}]]
  var data = [[${stockStateValues}]]
  console.log("labels", labels)
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: '# stock state',
        backgroundColor: poductColors,
        data: data,
      }]
    },
    options: {
      scales: {
        y: {
          min: 0,
          max: 1000,
        }
      }
    }
  });

  setInterval(function (){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        var data = JSON.parse(this.responseText)
        myChart.data.datasets[0].data = data.stockStateValues
        myChart.update();
      }
    };
    xhttp.open("GET", "/stock-state-data/" + shopId, true);
    xhttp.send();
  }, 200 )

</script>

</body>
</html>